<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_BookProviderService" />
                <binding name="BasicHttpBinding_SecurityProviderService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/BookProviderService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_BookProviderService"
                contract="BookProviderService.BookProviderService" name="BasicHttpBinding_BookProviderService" />
            <endpoint address="http://localhost:8733/SecurityProviderService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_SecurityProviderService"
                contract="SecurityProviderService.SecurityProviderService"
                name="BasicHttpBinding_SecurityProviderService" />
        </client>
    </system.serviceModel>
</configuration>