<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="webpages:Version" value="3.0.0.0"/>
		<add key="webpages:Enabled" value="false"/>
		<add key="PreserveLoginUrl" value="true"/>
		<add key="ClientValidationEnabled" value="true"/>
		<add key="UnobtrusiveJavaScriptEnabled" value="true"/>
	</appSettings>
	<system.web>
		<compilation debug="true" targetFramework="4.5"/>
		<httpRuntime targetFramework="4.5"/>
		<pages>
			<namespaces>
				<add namespace="System.Web.Helpers"/>
				<add namespace="System.Web.Mvc"/>
				<add namespace="System.Web.Mvc.Ajax"/>
				<add namespace="System.Web.Mvc.Html"/>
				<add namespace="System.Web.Routing"/>
				<add namespace="System.Web.WebPages"/>
			</namespaces>
		</pages>
	</system.web>
	<system.webServer>
		<handlers>
			<remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
			<remove name="OPTIONSVerbHandler"/>
			<remove name="TRACEVerbHandler"/>
			<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
		</handlers>
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Http" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed"/>
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0-5.2.2.0" newVersion="5.2.2.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>

	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="DefaultHttpBinding"/>
				<binding name="BasicHttpBinding_BookProviderService">
					<security mode="Message">
						<message clientCredentialType="UserName"/>
						<!--<transport clientCredentialType="Basic"/>-->
					</security>
				</binding>
			</basicHttpBinding>
			<basicHttpsBinding>
				<binding name="BasicHttpBinding_BookProviderService">
					<security mode="Transport">
						<transport clientCredentialType="Basic"/>
					</security>
				</binding>
			</basicHttpsBinding>
			<wsHttpBinding>
				<binding name="BasicHttpBinding_BookProviderService">
					<security mode="Transport">
						<!--<message clientCredentialType="UserName"/>-->
						<transport clientCredentialType="Basic"/>
					</security>
				</binding>
			</wsHttpBinding>
		</bindings>
		<behaviors>
			<serviceBehaviors>
				<behavior>
					<serviceMetadata httpGetEnabled="True" httpsGetEnabled="True"/>
					<serviceDebug includeExceptionDetailInFaults="True" />
					<!--<serviceAuthenticationManager authenticationSchemes="Anonymous"/>-->
				</behavior>
				<behavior name="customBasicBehavior">
					<serviceAuthenticationManager authenticationSchemes="Basic"/>
					<serviceCredentials>
						<userNameAuthentication userNamePasswordValidationMode="Custom" customUserNamePasswordValidatorType="Spike.Security.Authentication.BasicAuth.MVC.BasicAuthentication,Spike.Security"/>
					</serviceCredentials>
					<serviceAuthorization serviceAuthorizationManagerType="Spike.Security.Authentication.BasicAuth.Hosting.CustomServiceAuthorizationManager,Spike.Security"/>
					<serviceMetadata httpGetEnabled="True" httpsGetEnabled="True"/>
					<serviceDebug includeExceptionDetailInFaults="True" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<client>
			<endpoint address="http://localhost:8733/BookProviderService/" binding="basicHttpBinding" bindingConfiguration="DefaultHttpBinding" contract="BookProviderService.BookProviderService" name="BookProviderServiceEndpoint"/>
			<endpoint address="http://localhost:8733/IdentityResolverService/" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_BookProviderService" contract="IdentityResolverService.IdentityResolverService" name="IdenityResolverServiceEndpoint"/>
		</client>
		<services>
			<service name="Spike.Public.Services.Books.BookService"  behaviorConfiguration="customBasicBehavior">
				<endpoint address="BookService" binding="wsHttpBinding"
						  contract="Spike.Public.Services.Books.IBookService"
						  bindingConfiguration="BasicHttpBinding_BookProviderService"/>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
			</service>
		</services>
	</system.serviceModel>

</configuration>
